---

---

<header class="p-4">
    <h1 class="inline-block text-2xl font-bold bg-clip-text bg-gradient-to-br from-indigo-600 to-fuchsia-800 text-transparent
               dark:from-indigo-300 dark:to-fuchsia-500">OpenBot</h1>
    <h1 class="inline-block text-2xl">Workshop</h1>
</header>