---
export interface Props {
    label: string,
    description: string,
    target: string
}

const {label, description, target} = Astro.props;
---

<a href={target} rel="noreferrer noopener" role="button" class="bg-slate-300 dark:bg-slate-700 rounded-lg p-4 ease-out duration-100 hover:drop-shadow-lg">
    <h1 class="text-xl font-bold">{label} &rarr;</h1>
    <p>{description}</p>
</a>